# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
application/node_modules
application/.pnp
application/.pnp.js

# testing
application/coverage

# production
application/build

# misc
.DS_Store
application/.env.local
application/.env.development.local
application/.env.test.local
application/.env.production.local

application/npm-debug.log*
application/yarn-debug.log*
application/yarn-error.log*
